<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tienda</title>
    
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    
        <link rel="stylesheet" href="stily.css">
    
    </head>

    <body background="../img/multimedia/bg-destinos.png">

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <img src="../img/multimedia/logo.png" class="img-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">inico</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="planes.html">planes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="destinos.html">destinos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="contacto.html">contacto</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>

        <main>
            <section id="destinos" > 
                <div class="row ">
                    <div class="items-center text-center img-center">
                    <h2>DESTINOS</h2>
                    </div>
                    <div class= "col-md">
                        <div class="card-destinos cont__img img-fluid " >
                         <img src="../img/multimedia/cartagena.png" class="w-70" alt="senderismo">
                          <div class="card-infop">
                          <p>CARTAGENA</p>
                            </div>
                        </div>          
                    </div>
                              
                    <div class= "col-md">
                        <div class="card-destinos" >
                            <img src="../img/multimedia/barranquilla.png" class="w-60" alt="canotaje">
                                <div class="card-infop">
                                    <p>BARRANQUILLA</p>   
                            </div>
                        </div>   
                    </div>
                              <div class= "col-md">
                                <div class="card-destinos" >
                                    <img src="../img/multimedia/llanos.png" class="w-70" alt="camping">
                                    <div class="card-infop">
                                       <p>LLANOS</p>
                                       
                                    </div>
                                </div>
                               
                            </div>
                            <div class= "col-md">
                              <div class="card-destinos" >
                                  <img src="../img/multimedia/laguajira.png" class="w-60" alt="camping">
                                  <div class="card-infop">
                                     <p>LA GUAJIRA</p>
                                    
                                  </div>
                              </div>
                             
                          </div>
                        </div>
                      </div>
                        
                      </div>
                    </div> 
                </div>
            </section>
        </MAIN>          
    </body>

    <script src="JS/funtions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</html>