<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tienda</title>
    
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    
        <link rel="stylesheet" href="stily.css">
    
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <img src="../img/multimedia/logo.png" class="img-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">inico</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">planes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="destinos.html">destinos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="contacto.html">contacto</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>

        <main>
            <section id="planes"> 
                <div class="container text-center items-center">
                    <h1>PLANES</h1>
                    <h2>En RUMBO tenemos los iguientes planes para ti</h2>
                    <h2>Selecciona el plan que más se ajuste a la experiencia que quieras vivi</h2>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="card-">
                                <img  src="../img/multimedia/Copia de barranquilla.png" class="w-80">
                                <p>5 a 8 personas</p>
                                    <p>6 km de ruta</p>
                                    <p>150.000 Pesos</p>
                                    <p>Precio por persona</p>
                              </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card-infop">
                                <img src="../img/multimedia/canotaje.png" class="w-80" alt="">
                                <p>5 a 8 personas</p>
                                    <p>6 km de ruta</p>
                                    <p>150.000 Pesos</p>
                                    <p>Precio por persona</p>
                            </div>
                            </div>
                   

                        <div class="col-lg-4 col-md-6 text-center items-center">
                            <div class="card-infop">
                                    <img src="../img/multimedia/senderismo.png" class="w-78" alt="">
                                    <p>5 a 8 personas</p>
                                    <p>6 km de ruta</p>
                                    <p>150.000 Pesos</p>
                                    <p>Precio por persona</p>
                                </div>
                            </div>
                    </div> 
                </div>
            </section>
        </MAIN>          
    </body>

    <script src="JS/funtions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</html>
